html, body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(147,0,237);
  background: linear-gradient(90deg, rgba(147,0,237,1) 0%, rgba(24,180,255,1) 50%, rgba(0,29,99,1) 100%);
  background-size: cover;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#img_situacao {
  margin-top: 20px;
  width: 120px;
  height: 120px;
}

#img_situacao, body {
  transition: opacity 0.8s ease;
}

.fade-out {
  opacity: 0;
}

.night-mode {
  background: linear-gradient(0deg, rgba(0,81,207,1) 0%, rgba(0,1,40,1) 100%);
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  gap: 15px;
}

input {
  color: white;
  width: 250px;
  border: solid 2px white;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  padding: 5px;
}

input::placeholder {
  color: white;
}

#Buscar {
  border-radius: 10px;
  border: solid 2px black;
  background-color: yellow;
  padding: 10px;
  width: 100px;
}

#Buscar:hover {
  background-color: black;
  color: white;
  border: solid 2px white;
}

#resultado {
  display: grid;
  place-content: center;
  text-align: center;
  background: transparent;
  backdrop-filter: blur(10px);
  border: solid 2px white;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 100px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 767px) {
 
  #form h1, h3 {
    text-align: center;
  }
 
  header {
      justify-content: center;
  }
  #img_situacao {
      width: 80px;
      height: 80px;
      margin-top: 10px;
  }
 
  #resultado {
    margin-left: 10px;
    margin-right: 10px;
  }
}
 
/* Responsividade para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
 
  header {
      justify-content: center;
  }
  #img_situacao {
      width: 100px;
      height: 100px;
      margin-top: 20px;
  }
 
  #resultado {
    margin-left: 20px;
    margin-right: 20px;
  }
}
